
/* Friends List */
img.friend_profile {
    height: 25px;
    width: 25px;
    border-radius: 15px;
}

.modal-body ul {
    padding-left: 0;
}

.modal-body li {
    list-style-type: none;

}

.modal-body li a {
    text-decoration: none;
}

.col-md-offset-6 {
    margin-left: 0px;
}