{% extends "base.html" %}


    {% block content %}
        
        <h3 class="text-muted">Gas Splitter</h3>
      </div>

      <div class="jumbotron">
        <h1>Share a ride, split the tab.</h1>
        <p class="lead">Automatic+Venmo integration makes it easy to share the cost of fuel with a friend.</p>
      </div>

      <div class="row">
        <div class="col-lg-12">
          <h2>Recent Trips</h2>
            {% for trip in recent_trips %}
                <div class="col-md-4" id="{{trip['id']}}">
                    <h3>{{trip['start_location']['display_name']}}</h3>
                    {{trip['start_time']}}<br/>
                    {{'%0.3f' % trip['fuel_volume_gal'] | float}} gallons<br/>
                    ${{'%0.2f' % trip['fuel_cost_usd'] | float}} trip cost<br/>
                    <div class="img_container">
                      <img src="https://maps.googleapis.com/maps/api/staticmap?size=200x200&path=weight:5%7Ccolor:blue%7Cenc:{{trip['path']}}"/><br/>
                      <br/>
                      <button type="button" class="btn btn-primary btn-sm" data-dollars="{{trip['fuel_cost_usd']}}" data-trip-id="{{trip['id']}}" data-path="{{trip['path']}}" data-trip-name="{{trip['start_location']['display_name']}}" data-toggle="modal" data-target="#payModal">
                        Charge
                      </button>
                    </div>

                </div>
            {% endfor %}
            </div>
        </div>

        </div>

      </div>


<!-- Modal -->
<div class="modal fade" id="payModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Charge a Friend</h4>
      </div>
      <div class="modal-body col-md-12">
        <form id="payment">
            <div class="col-md-6">
              <h2 class="display-name"></h2>
              <img class="path-img" src=""/>
               <div class="radio">
                  <label>
                    <input type="radio" name="optionsAmount" value="" checked>
                    Full price - 100%
                  </label>
                </div>

                <div class="radio">
                  <label>
                    <input type="radio" name="optionsAmount" value="">
                    Split the tab - 50%
                  </label>
                </div>
               
            </div>

            <div class="col-md-6 col-md-offset-6">
                <h4>Friends</h4>
              
                {% for friend in friends %}
                    <div class="radio">
                      <label>
                        <input type="radio" name="friends" id="{{friend['id']}}" value="{{friend['id']}}">
                        <img class="friend_profile" src="{{friend['profile_picture_url']}}"/>
                    {{friend['display_name']}}
                      </label>
                    </div>

                {% endfor %}
            </div>
       </form>
            
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button form="payment" type="submit" class="btn btn-primary charge"></button>
      </div>

    </div>
  </div>
</div>

  <script>
    $('#payModal').on('show.bs.modal', function(e) {
      var price = $(e.relatedTarget).data('dollars');
      var tripID = $(e.relatedTarget).data('trip-id');
      var displayName = $(e.relatedTarget).data('trip-name');
      var path = $(e.relatedTarget).data('path');
    
      // Add name and map to modal
      $('.display-name').html(displayName);
      $('.path-img').attr('src', 'https://maps.googleapis.com/maps/api/staticmap?size=200x200&path=weight:5%7Ccolor:blue%7Cenc:'+path);

      // Set initial price on Charge btn
      price = price.toFixed(2);
      $('.charge').html('Charge $'+price);

      // Make sure 100% is set to default
      var $defaultRadio = $('input:radio[name="optionsAmount"]').eq(0);
      if($defaultRadio.is(':checked') === false) {
        $defaultRadio.prop('checked', true);
    }
      // Update Charge button based on radio button
      $('input[name="optionsAmount"]').eq(0).attr('value', price);
      $('input[name="optionsAmount"]').eq(1).attr('value', (price/2).toFixed(2));

      $('input[name="optionsAmount"]').change(function(){
        $('.charge').html('Charge $'+ $(this).val());
      });

      $('#payment').submit(function(e){
        e.preventDefault();
        $.ajax({
          method: "POST",
          url: "/payment",
          data: {'user_id': $('input[name="friends"]').val(), 'trip_id': tripID, 'price': $('input[name="optionsAmount"]').val()}
        })
        .done(function(data){
          console.log(data);
          // hide modal
          $('#payModal').modal('hide');
          // remove charge btn, replace with success
          $('#'+tripID + ' .btn').html('Success!');

        });
      });
    });

    




  </script>    

    {% endblock %}
       